
body{
    background-color: thistle;
    
}
#header {
    text-align: center;
    color:yellow;
    font-size: 36px;
   
}

.paragraph{
    font-size: 24px;
    
}
.newDiv{
     font-size: 24px;
     font-style: italic;
     color: red;
}
